<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KC-Pendu</title>

    <link rel="icon" href="./resources/images/kc-logo.png">

    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link href="/resources/style/style.css" rel="stylesheet" />

    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="module" defer src="./resources/script/index.js"></script>
  </head>

  <body>
    <header class="border border-black text-white rounded-bottom bg-black">
      <div class="container">
        <div class="row">
          <div class="col-sm div-logo-kc">
            <a href="/">
              <img
                class="rounded m-3 logo-kc"
                src="resources/images/kc-logo.svg"
              />
            </a>
          </div>

          <div id="div-title" class="col-sm">
            <h2 class="text-center p-4 titre">KC Pendu</h2>
          </div>

          <div class="col-sm"></div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="text-center">
        <img
          alt="Blue Wall image"
          id="image-bw"
          class="pendu-img bg-dark p-2  mt-3"
        />
        <div>
          <button id="btn-restart" class="btn btn-sm m-3 btn-primary">Recommencer</button>
      </div>
        <div>
          <h5 id="game-count"></h5>
        </div>

        <div
          id="hidden_word"
          class="d-flex justify-content-center text flex-row"
        ></div>
        <div id="keyboard">
        </div>

        <div id="numeric" class="mt-1">

        </div>

      </div>
    </div>

  </body>
</html>
