<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link href="/resources/style/style.css" rel="stylesheet" />

    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script defer type="module" src="./resources/script/index.js"></script>
  </head>

  <body>
    <header class="border border-black text-white rounded-bottom bg-black">
      <div class="container">
        <div class="row">
          <div class="col-sm div-logo-kc">
            <a href="/">
              <img
                class="rounded m-3 logo-kc"
                src="resources/images/kc-logo.svg"
              />
            </a>
          </div>

          <div class="col-sm">
            <h1 class="text-center p-4 titre">KC Pendu</h1>
          </div>

          <div class="col-sm"></div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="text-center">
        <img
          class="pendu-img mb-5 mt-3"
          src="/resources/images/blue_wall_8.jpg"
        />
        <div
          id="hidden_word"
          class="d-flex justify-content-center text flex-row mb-3"
        ></div>
        <div id="clavier">
          <div id="first_row">
            <button id="btn1" class="btn btn-medium border-black btn-light">
              A</button
            ><button class="btn btn-medium border-black btn-light" id="btn2">
              Z</button
            ><button id="btn3" class="btn btn-medium border-black btn-light">
              E</button
            ><button class="btn btn-medium border-black btn-light" id="btn4">
              R</button
            ><button id="btn5" class="btn btn-medium border-black btn-light">
              T</button
            ><button class="btn btn-medium border-black btn-light" id="btn6">
              Y</button
            ><button id="btn7" class="btn btn-medium border-black btn-light">
              U</button
            ><button class="btn btn-medium border-black btn-light" id="btn8">
              I</button
            ><button id="btn9" class="btn btn-medium border-black btn-light">
              O</button
            ><button class="btn btn-medium border-black btn-light" id="btn10">
              P
            </button>
          </div>

          <div id="second_row">
            <button id="btn11" class="btn btn-medium border-black btn-light">
              Q</button
            ><button class="btn btn-medium border-black btn-light" id="btn12">
              S</button
            ><button id="btn13" class="btn btn-medium border-black btn-light">
              D</button
            ><button class="btn btn-medium border-black btn-light" id="btn14">
              F</button
            ><button id="btn15" class="btn btn-medium border-black btn-light">
              G</button
            ><button class="btn btn-medium border-black btn-light" id="btn16">
              H</button
            ><button id="btn17" class="btn btn-medium border-black btn-light">
              J</button
            ><button class="btn btn-medium border-black btn-light" id="btn18">
              K</button
            ><button id="btn19" class="btn btn-medium border-black btn-light">
              L</button
            ><button class="btn btn-medium border-black btn-light" id="btn20">
              M
            </button>
          </div>
          <div id="third_row">
            <button id="btn21" class="btn btn-medium border-black btn-light">
              W</button
            ><button class="btn btn-medium border-black btn-light" id="btn22">
              X</button
            ><button id="btn23" class="btn btn-medium border-black btn-light">
              C</button
            ><button class="btn btn-medium border-black btn-light" id="btn24">
              V</button
            ><button id="btn25" class="btn btn-medium border-black btn-light">
              B</button
            ><button class="btn btn-medium border-black btn-light" id="btn26">
              N
            </button>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br />
  </body>
</html>
